*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;

}

body{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

header{
    display: flex;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding: 20px 0;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    transition: all .6s ease;
    background-color: white;
    box-shadow: 2px 2px 15px 2px black;
}

header h1{
    font-size: 40px;
    margin-left: 40px;
}

.navlist{
    display: flex;
}

.navlist a{
    display: inline-block;
    font-weight: bold;
    font-size: 25px;
    margin: 0 20px;
    color: black;
    transition: all .6s ease;
}

.navlist a:hover{
    color: orangered;
}

.right-content{
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.header-btn{
    color: white;
    padding: 10px 40px;
    background-color: orangered;  
    border-radius: 10px; 
    transition: all .6s; 
    cursor: pointer;
}
.header-btn:hover{
    background-color: rgb(255, 189, 165);
    font-weight: bold;
    padding: 10px 60px;
}


#menu-icon{
    font-size: 40px;
    cursor: pointer;
    margin-left: 25px;
    z-index: 10001;
    display: none;
}

.intro{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro img{
    background-color: red;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 50px;
}
.intro-me{
    line-height: 50px;
    margin-left: 50px;  
}
.intro-me p{
    font-size: 20px;
}
.intro-me h3{
    color: orangered;
    font-weight: bold;
}
.intro-me h1{
    font-size: 35px;
}
.intro-me button a{
    background-color: orangered;
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all .5s;
}

.intro-me button:hover{
    background-color: rgb(255, 189, 165);
}

.about-section{
    align-items: center;
    text-align: center;
}

.about-section h1{
    color: orangered;
    font-size: 30px;
}

.about-details{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-details img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    background-color: orangered;
}

.list{
    line-height: 50px;
}

.list li{
    font-weight: bold;
    font-size: 20px;
}

.skills{
    align-items: center;
}

.skilss h3{
    display: none;
}

.skill{
    width: 400px;
    background-color: rgb(192, 192, 192);
    height: 15px;
    border-radius: 20px;
    display: flex;
}

.skill-wrapper{
    margin: 40px 0;
    display: flex;
    align-items: center;
}

.skill-1{
    width: 280px;
    height: 15px;
    background-color: orangered;
    border-radius: 20px 0 0px 20px;
}

.skill-2{
    width: 320px;
    height: 15px;
    background-color: orangered;
    border-radius: 20px 0 0px 20px;
}

.skill-3{
    width: 280px;
    height: 15px;
    background-color: orangered;
    border-radius: 20px 0 0px 20px;
}

.skill-4{
    width: 360px;
    height: 15px;
    background-color: orangered;
    border-radius: 20px 0 0px 20px;
}

.skill-5{
    width: 320px;
    height: 15px;
    background-color: orangered;
    border-radius: 20px 0 0px 20px;
}

.onet{
    font-weight: bold;
    font-size: medium;
    margin-left: 20px;
    font-family: sans-serif;

}
.fourt{
    color: brown;
    font-weight: bold;
    font-family: Arial;
}
.twot{
 font-family: sans-serif;
 font-weight: bold;
 font-size: 18px;

}
.fivet{
    font-family: sans-serif;
    font-weight: lighter;
    font-size: small;
    margin-left: 10px;
}
.eightt{
    margin-left: 40px;
    font-weight: 20;
    font-family: sans-serif;
    font-size: small;
}
.threet{
    font-family: sans-serif;
    font-weight: bolder;
    font-size: large;
}
.sevent{
    font-family: sans-serif;
    font-weight: lighter;
    font-size: small;
    margin-left: 20px;
}

.service-section{
    width: 100%;
    align-items: center;
    text-align: center;
}

.service-section h1{
    padding: 60px 0;
    font-size: 40px;
}

.services{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.service-img{
    text-align: center;
    align-items: center;
    box-shadow: 1px 1px 10px 1px rgb(175, 175, 175);
    padding: 20px;
}

.service-img img{
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.project{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.project h1{
    padding: 40px 0;
}

.project h4{
    padding:  0 0 20px 0;
}

.project img{
  width: 700px;
  height: 500px; 
}

footer{
    width: 100%;
    background-color: orangered;
    color: white;
    padding: 20px 0;
    text-align: center;
}
footer h2{
    text-align: center;
}

footer a{
    color: white;
}